body {
  position: relative;
  height: 100%;

  overflow-y: auto;
}

main {
  padding: 5rem 2rem;
}

.component {
  max-width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 18rem);
}

.component__text {
  line-height: 1.4rem;
}

.component__section-2 {
  border-bottom-left-radius: 0;
}

.component__section-3 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
